body{
    background-color: rgb(90, 90, 90);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.padre{
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 3em;
    border-radius: 20px;
    font-weight: 700;
}
.img{
    border: 4px solid #d2d2d2;
    z-index: 1;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
.hh3{
    height: 10px;
    width: auto;
    background-color: rgb(234, 234, 234);
    z-index: 2;
    font-style:italic;
    color: beige;
    margin-top: -340px;
}