body{
    background-color: rgb(135, 135, 135);
}
.caja{
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    font-size: 3em;
    font-weight: 700;
    border: 1px solid #000;
}
.c1{
    background-color: antiquewhite;
    top: 50px;
    left: 100px;
    z-index: 1;
}
.c2{
    background-color: azure;
    top: 150px;
    left: 70px;
    z-index: 3;
}
.c3{
    background-color: beige;
    z-index: 2;
}