 /*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.cabe{
    background-color: #c6c6c6;
    border: 2px solid #9b9b9b;
    position: absolute;
    z-index: 10;
    position: sticky;
    top: 0px;
    display: flex;
}
.cabe img{
    height: 100px;
}

nav {
    background-color: #ffffff;
    margin: 0;
    margin-left: 44%;
    
}

.menu {
    background-color: #c6c6c6;
    border: 0 solid #9b9b9b;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    background-color: #6affc8;
    border: 2px solid #4dcb9d;
    margin: 26px;
    margin-left: -15px;
    border-radius: 4px;
    position: relative;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

.menu li a:hover {
    background-color: #acff6c;
    border-radius: 3px;
}
/* ____________________________________ */
.cont1{
    background: url(img\re\1.png);
    
}
.cont1{
    display: flex
}
#aprende{
    margin-top: 200px;
}
#form {
    background-color: #46d49b;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin-left: 40%;
    float: right;
}
#form h2{
    color: #ffffff;
    text-align: center;
}

/* Estilos para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #30ab38;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Estilos para los radio buttons */
input[type="radio"] {
    margin-right: 10px;
}

/* Estilos para el textarea */
textarea {
    resize: vertical;
    min-height: 100px;
}

/* Estilos para los botones */
input[type="submit"]{
    background-color: #003cff;
    color: #ffffff;
    border: 1px solid #5386ff;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 100px;
    align-items: center;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    background-color: #4e90bb;
}

/* Estilos responsivos 
@media (max-width: 600px) {
    #form {
        padding: 15px;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 100%;
        margin-bottom: 10px;
    }
}*/
.cont2{
    padding: 20px;
    margin: 30px;
}

.cont2 h2{
    color: #46d49b;
    text-align: left;
}
.cont3 {
    margin-top: 30px;
    padding: 15px;
}
h3{
    color: #46d49b;
}
.imglogo{
    margin: 10px;
    margin-top: 40px;
}
.cuad{
    border: 1px solid #000;
    border-radius: 30px;
    display: flex;
}
.tab{
    display: flex;
}
footer{
    height: 50px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: flex;
    padding: 15px;
    background-color: #545454;
    position: fixed;
}
h4{
    color: #ffffff;
}
footer h2{
    color: #46d49b;
}
.contac{
    margin-left: 1000px;
    display: block;
}