header{
    background-image: url(bg.jpg);
    border-radius: 20px;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
MENU*/
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height: 120px;
    justify-content: center;
    border: solid #fff;
    border-radius: 20px;
}
.menu img{
    border-radius: 50px;
    border: solid #fff;
    height: 100px;
    margin-top: 10px;
}
.menu a{
    padding: 20px;
    margin: 3px;
    text-align: center;
    text-justify:distribute;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #000;
    border: solid #fff;
    border-radius: 10px;
    height: 10px;
    margin-top: 45px;
    font-size:larger;
}
.menu a:hover{
    background-color: #9b9b9b;
    color: red;
}
.menu img:hover{
    border-radius: 10px;
    border: solid 4px red;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
SECCION MEDIA, CONTENIDO*/
.medio{
    background-color: rgb(144, 144, 144);
    display: flex;
    width: 100%;
}
.medio div{
    padding: 40px;
    width:30%;
    text-align: center;
}
.medio div p{
    font-size: large;
    text-align: justify;
}
.ce{
    height: 250px;
    margin: 10px;
    border: solid 5px #676767;
    border-radius: 20px;
}
.ret{
    height: 140px;
    float: right;
    margin: 15px;
    border: solid 1px #fff;
    border-radius: 30px;
}
.ret:hover{
    opacity: 50%;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
FOOTER*/
footer{
    background-color: #545454;
    display: flex;
}
.ubic{
    margin: 20px;
    padding: 20px;
background-color: #fff;
}
.red{
    margin: 20px;
    padding: 20px;
background-color: #fff;
}
.ass{
    display: block;
}