/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #898989;
    margin: 2px;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

.menu li a:hover {
    background-color: #555;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #65bc9f;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.submenu li a {
    padding: 10px 15px;
    text-align: left;
}

.menu li:hover > .submenu {
    display: block;
}

/*li ul li ul*/
/*.subsub {
    display: none;
    position: relative;
}*/
.menu li ul li ul li {
    display: none;
    position: relative;
}

#12{
    display: none;
}
nav .menu li .submenu li .subsub li:hover{
    display: block;
}