body {
    font-family: Arial, sans-serif;
    padding: 40px;
    text-align: center;
  }
  
  button {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f1c40f;
    color: white;
    border: none;
  }
  
  #datosUsuario {
    margin-top: 20px;
    font-size: 18px;
    color: #34495e;
    font-weight: bold;
  }