@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: bold;
}
hr{
    display: none;
}
body{
    background-color: rgb(203, 203, 203);
    font-family: 'Quicksand';
}
h1, h2, h3, h4{
    font-family: 'Inter';
    font-weight: bolder;
}
.proyectos img{
    border: solid 0px #ffffff;
    max-width: 100%;
    height: 100px;
    opacity: 0.5;
    border-radius: 10px;
    margin: 10px 0;
}
footer img{
    border: solid 3px #000;
    padding: 3px;
    border-radius: 200px;
    margin: 10px;
    list-style: none;
    height: 30px;
    display: block;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
BARRA DE MENU
*/
#secmenu {
    border:1px solid#F8A053;
    background-color: #ffeba7;
    height: 48px;
    position: absolute;
    z-index: 10;
    position: sticky;
    top: 0px;
    margin-top: -10PX;    
}

.menu {
    list-style: none;
    margin: 0;
    width:max-content;
    padding: 0;
    display: flex;
}

.menu li {
    position: relative;
    width: 220px;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    border-radius: 10px;

}

.menu li a:hover {
    background-color: #ffcf30be;
}

/* Submenú */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #F8A053;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    min-width: 150px;
}

.submenu li a {
    padding: 10px 15px;
    text-align: left;
}

.menu li:hover > .submenu {
    display: block;
}

/*li ul li ul*/
/*.subsub {
    display: none;
    position: relative;
}*/
.menu li ul li ul li {
    display: none;
    position: relative;
}

/*`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.
INICIO
*/
.inicio{
    margin-top: 50px;
    background-color: #F5DA7F;
    padding: 20px;
    border: solid 1px #F8A053;
    border-radius: 10px;
}
.intro{
    display: flex;
    padding: 20px;
    border-radius: 10px;

    border: solid 1px #F8A053;
}
.introcontenido{
    display: flex;
    align-items: center;
    background-color: #F8A053;
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    width: auto;
    justify-content: space-around;
}
.ol{
    display: flex;
    flex-wrap: wrap;
    
}
.ol div{
    width: 100px;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    border: solid 1px #F5DA7F;
    
}
#mip{
    background-color: #b77100;
    width: 130px;
    text-align: center;
    padding: 20px;
    height: 40px;
    color: #ffffff;
    border-radius: 1005px;
}

/*`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.
SOBRE MI
*/
.sobremi{
    border-radius: 20px;
    padding: 30px;
    background: #ffffff;
}

.ima img{
    border-radius: 15px;
    height: 200px;
    float: left;
    margin-top: 50px;
    margin-right: 50px;
}
.sobremi h2{
    background-color: #F8A053;
    position:static;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    border-radius: 20px;
}
.sobremi div{
    text-align: justify;
    padding: 30px;
    font-size: larger;
    margin-top: -40px;

}


/*`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.`.
BLOG
*/
.blog{
    background-color: #F5DA7F;
    border: solid;
    padding: 10px;
    border-radius: 5px;
}
.bloghead{
    padding: 15px;
    background-color: #e9e9e9;
    border: solid 1px #a4a4a4;
    border-radius: 5px;
}
.blogforflex{
    margin: 10px;
    margin-top: 20px;
    border: solid #F5DA7F;
    background-color: #F8A053;
    display: flex;
    justify-content: center space-around;
    border-radius: 20px;
}
.blogbody{
    margin: 10px;
    border: solid 1px #F8A053;
    text-align: left;
    padding: 40px;
    background-color: #F5DA7F;
    border-radius: 20px;
}
.blogright{
    margin: 10px;
    border: solid 1px #b77100;
    text-align: center;
    padding: 40px;
    display: block;
    background-color: #ffaf54;
    border-radius: 20px;
    width: 260px;
}
.contblock{
    display: block;
    width: 300px;
    border: solid 1px #572d007c;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.post{
    display: flex;
}
.post a{
    margin-top: 20px;
    background-color: #cdcdcd;
    width:max-content;
    border-radius: 8px;
    border: solid 1px;
    padding: 9px;
    display: flex;
}
.coments{
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 5px;
    border: solid 1px #572d007c;
}
label, input, textarea{
	display: block;	
}
input[type="submit"]{
	background-color: #ffaf54;
	color: white;
	height: 30px;
    border: solid 1px #676767;
    border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
}
input:hover{
    background-color: #565656;
}
.contblock a:hover{
    background-color: #ffffff;
}
.contblock:hover, .coments:hover{
    background-color: #ffe48c;
    border: solid 1px #ffffff7c;
}
textarea{
	width: 270px;	
	border-radius: 10px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #b77100;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
PROYECTOS
*/

.gal{
    display: flex;
}
.gal img{
    margin: 30px;
}
.proyectos{
    background-color: #a4a4a4;
    text-align: center;
    padding: 30px;
}
.proyectos h3{
    background-color: #F5DA7F;
    padding: 20px;
}
.gal ul{
    width: 100%;
    margin: 20px;
    border: solid 3px #8a8a8a;
    list-style: none;
    display: flex;
    padding: 25px;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 50px;
}
.gal a{
    color: #ffffff;
    font-size: xx-small;
}
.gal li a:hover {
    background-color: #7c7c7cbe;
}
.gal img:hover {
    opacity: 1.0;
}
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
footer
*/
footer{
    padding-top: 50px;
    background-color: #cfc8a2;
    border: solid 1px #ffffff;
    border-radius: 5px;
}
.cont{
    align-content: center;
    display: flex;
}
.cont a{
    text-align: center;
}
.contact1 img:hover{
    border: solid 4px;
}
.cont div{
    width: 50%;
}
.contact1 p{
    display: none;

}
.contact1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact1 img{
    margin: 80px;
    border: solid #ffffff;
    padding: 20px;
    border-radius: 100px;
}
.contact1, .contact2{
    border: solid #a4a4a4;border-radius: 30px;
    padding: 20px;
    margin: 20px;
}
.contact1:hover, .contact2:hover{
    border: solid 5px #565656;
}